*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.circles{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.one .two .three .four .five .six{

    background-color: transparent;
    border-radius: 50%;
    border:  solid black 5px;
}
.one{
    width: 20px;
    height: 20px;
}
.two{
    width: 30px;
    height: 30px;
}
/* .one{
    width: 20px;
    height: 20px;
}
.one{
    width: 20px;
    height: 20px;
}
.one{
    width: 20px;
    height: 20px;
}
.one{
    width: 20px;
    height: 20px;
} */
